.singleHead {
  display: flex;
  height: 362px;
}
.swiper {
  width: calc(100% - 235px);
}
.codeWrap {
  position: relative;
  width: 256px;
  margin-top: 30px;
  background: #1f1e24;
  margin-left: -20px;
  text-align: center;
  padding-left: 20px;
  border-radius: 0 20px 20px 0;
}
.swiperSlideImage {
  border-radius: 20px;
  object-fit: cover;
}
.link {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 12px 23px;
}
.code {
  position: relative;
  background: #2d2c3a;
  border: 2px solid #d8ff20;
  font-size: 1.2rem;
  color: #9997b3;
  border-radius: 10px;
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
  min-width: 60%;
  margin: 0 20px 10px;
}
.cardImgWrap {
  width: 100%;
  position: relative;
  margin: 20px 0;
}
.title {
  font-size: 1.6rem;
  font-size: 1.4rem;
  text-align: center;
  margin: 45px 0 45px;
  background: linear-gradient(45deg, #7a5fea 20%, var(--blue) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.promoCode{
  background: #2D2C3A;
  padding: 10px;
  font-size: 1.2rem;
  color: #9997b3;
  outline: none;
  border: 0;
  width: calc(100% - 43px);
}
.promoCopy {
  -webkit-font-smoothing: antialiased;
  background: var(--lime);
  -webkit-text-fill-color: #37363e;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  outline: none;
  border: 0;
  width: 43px;
  border-radius: 7px;
  cursor: pointer;
}
.money {
  font-size: 2.8rem;
  padding: 0;
  margin: 0 0 13px;
}
.logoContainer {
  max-width: 201px;
  max-height: 100px;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 15px auto 25px;
}
.logo {
  max-width: 240px;
  object-fit: cover;
  border-radius: 0 10px 0 0;
}
@media (max-width: 1099px) {
  .codeWrap{
    height: 285px;
  }
  .singleHead {
    display: flex;
    height: auto;
  }
  .title {
    margin: 25px 0 25px;
  }
  .logoContainer {
    margin: 15px auto 15px;
    max-height: 86px;
  }
  .money {
    font-size: 2rem;
  }
  .code {
    padding: 7px 49px 7px 4px;
    font-size: 1.1rem;
  }
}
@media (max-width: 956px) {
  .title {
    margin: 25px 0 25px;
  }
  .money {
    font-size: 2.4rem;
    margin: 0 0 20px;
  }
  .code {
    font-size: 1rem;
  }
}
@media (max-width: 705px) {
  .codeWrap {
    width: 210px;
  }
  .swiper {
    width: calc(100% - 210px);
  }
}
@media (max-width: 620px) {
  .singleHead {
    flex-direction: column;
  }
  .swiper {
    width: 100%;
  }
  .codeWrap {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    border-radius: 0 0 20px 20px;
    margin-top: 0;
    padding-bottom: 20px;
  }
  .swiperSlideImage {
    border-radius: 0;
  }
  .title {
    margin: 20px 0 20px;
  }
  .code {
    min-width: 50%;
  }
  .money {
    font-size: 2rem;
  }
  .logoContainer {
    height: 250px;
  }
  .logo {
    border-radius: 8px;
  }
}
