@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*var*/
:root {
    --bgmain: #1F1E24;
    --bgsecond: #2D2C3A;
    --bgcard: #282834;
    --purple: #7a5fea;
    --blue: #00d4ff;
    --white: #fff;
    --lime: #D8FF20;
}
body{
    background:#624FC5;
    color: #E3E4F8;
    font-family: 'Golos Text', sans-serif;
}
.header__wrapper{
    width: 1200px;
    box-sizing: border-box;
    padding: 15px 20px;
    margin: 0 auto;
    background: var(--bgmain);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.button{
    background: linear-gradient(45deg, var(--purple) 20%, var(--blue) 100%);
    padding: 9px 15px;
    color: var(--white);
    text-decoration: none;
    border-radius: 4px;
    transition: all .4s ease-in-out;
    background-size: 150% 150%;
    cursor: pointer;
}
.button:hover{
    background: linear-gradient(45deg, var(--purple) 20%, var(--blue) 100%);
    background-position: 100% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.sidebar{
    width: 260px;
    padding: 20px 0 0 20px;
}
.logo{
    color: #23D1A4;
    text-decoration: none;
    font-size: 2rem;
}
.menu__list{
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 0;
}
.menu__link{
    display: block;
    color: #E3E4F8;
    text-decoration: none;
    cursor: pointer;
}
.menu__link::before{
    font-family: "Font Awesome 6 Free";
    display: inline-block;
    background: linear-gradient(45deg, var(--purple) 20%, var(--blue) 100%);
    font-size: 1.2rem;
    vertical-align: middle;
    padding: 5px 8px;
    margin-right: 10px;
    border-radius: 3px;
}
.crash-link::before{
    content: "";
    background: url(images/crash.png) no-repeat 50%;
    width: 19px;
    height: 25px;
    transition: all .2s ease 0s;
}
.crash-link-active::before{
    background: url(images/crash-active.png) no-repeat 50%;
    color: #E3E4F8;
    -webkit-text-fill-color: #E3E4F8; 
}
.crash-link:hover::before{
    background: url(images/crash-active.png) no-repeat 50%;
    transition: all .2s ease 0s;
}
.jackpot::before{
    content: "";
    background: url(images/jackpot.png) no-repeat 50%;
    width: 19px;
    height: 25px;
    transition: all .2s ease 0s;
}
.jackpot-active::before{
    background: url(images/jackpot-active.png) no-repeat 50%;
    color: #E3E4F8;
    -webkit-text-fill-color: #E3E4F8; 
}
.jackpot:hover::before{
    background: url(images/jackpot-active.png) no-repeat 50%;
    transition: all .2s ease 0s;
}
.three-color::before{
    content: "";
    background: url(images/3color.png) no-repeat 50%;
    width: 19px;
    height: 25px;
}
.three-color-active::before{
    background: url(images/3color-active.png) no-repeat 50%;
    color: #E3E4F8;
    -webkit-text-fill-color: #E3E4F8; 
    transition: all .2s ease 0s;
}
.three-color:hover::before{
    background: url(images/3color-active.png) no-repeat 50%;
    transition: all .2s ease 0s;
}
.four-color::before{
    content: "";
    background: url(images/4color.png) no-repeat 50%;
    width: 19px;
    height: 25px;
}
.four-color-active::before{
    background: url(images/4color-active.png) no-repeat 50%;
    color: #E3E4F8;
    -webkit-text-fill-color: #E3E4F8; 
    transition: all .2s ease 0s;
}
.four-color:hover::before{
    background: url(images/4color-active.png) no-repeat 50%;
    transition: all .2s ease 0s;
}
.box::before{
    content: "";
    background: url(images/box.png) no-repeat 50%;
    width: 19px;
    height: 25px;
}
.box-active::before{
    background: url(images/box-active.png) no-repeat 50%;
    color: #E3E4F8;
    -webkit-text-fill-color: #E3E4F8; 
    transition: all .2s ease 0s;
}
.box:hover::before{
    background: url(images/box-active.png) no-repeat 50%;
    transition: all .2s ease 0s;
}
.slots::before{
    content: "";
    background: url(images/slots.png) no-repeat 50%;
    width: 19px;
    height: 25px;
}
.slots-active::before{
    background: url(images/slots-active.png) no-repeat 50%;
    color: #E3E4F8;
    -webkit-text-fill-color: #E3E4F8;
    transition: all .2s ease 0s;
}
.slots:hover::before{
    background: url(images/slots-active.png) no-repeat 50%;
    transition: all .2s ease 0s;
}
.sport-bet::before{
    content: "";
    background: url(images/sport.png) no-repeat 50%;
    width: 19px;
    height: 25px;
}
.sport-bet-active::before{
    background: url(images/slots-active.png) no-repeat 50%;
    color: #E3E4F8;
    -webkit-text-fill-color: #E3E4F8;
    transition: all .2s ease 0s;
}
.sport-bet:hover::before{
    background: url(images/slots-active.png) no-repeat 50%;
    width: 19px;
    height: 25px;
    transition: all .2s ease 0s;
}
.slots-link::before{
    content: "\e3ce";
}

.menu__list-item{
    margin-bottom: 10px;
    cursor: pointer !important;
}

/*main banner*/
.main__banner{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    padding: 25px 45px;
    background: linear-gradient(45deg, var(--purple) 20%, var(--blue) 100%);
}
.main__wrapper{
    max-width: 355px;
}
.main__title{
    font-family: 'Russo One', sans-serif;
    color: #211F2A;
    font-size: 3rem;
    padding: 0;
    margin: 25px 0 0;
    letter-spacing: 1px;
    font-style: italic;
    text-shadow: -4px 3px 0px rgb(82 70 179 / 55%);
}
.main__second-title{
    font-family: 'Russo One', sans-serif;
    color: #fff;
    font-size: 3rem;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-shadow: -4px 3px 0px rgb(82 70 179 / 55%);
}
.main__banner-kerambit-bg{
    width: 402px;
    height: 370px;
    background: url(/images/banner-kerambit.png) no-repeat;
    position: absolute;
    right: 70px;
    top: -36px;
}
.main__subtitle{
    font-size: 0.95rem;
    max-width: 280px;
    margin: 10px 0 0;
}
/*populae*/
.popular__title{
    font-size: 1.3rem;
    margin: 35px 0 10px;
}
.popular__hr{
    height: 1px;
    background: #464553;
    border-top: 1px solid #292836;
    margin-bottom: 25px;
}
.popular__wrapper{
    display: flex;
    row-gap: 30px;
    column-gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}
.popular__card{
    position: relative;
    width: calc(33.333% - 20px);
    min-height: 287px;
    background: var(--bgcard);
    border-radius: 13px;
    border: 2px solid #343341;
    box-sizing: border-box;
    padding: 13px;
}
.popular__info{
    position: absolute;
    color: #5B5B67;
    right: 18px;
    top: 22px;
    cursor: help;
}
.popular__info:hover{
    text-rendering: auto;
    color: var(--lime);
}
.popular__card-title{
    padding: 0 20px 0 0;
    margin: 8px 0 15px;
    font-weight: normal;
    font-size: 1.2rem;
}
.popular__card-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.popular__card-img{
    max-height: 100%;
    max-width: 100%;
    border: 1px solid #31303e;
    box-sizing: border-box;
}
.popular__promo-code{
    position: relative;
    background: #2D2C3A;
    border: 1px solid #31313D;
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
    color: #9997b3;
    border-radius: 7px;
}
.popular__promo-copy{
    -webkit-font-smoothing: antialiased;
    background: var(--lime);
    -webkit-text-fill-color: #37363e;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    outline: none;
    border: 0;
    width: 43px;
    border-radius: 10px;
    border-radius: 7px;
    cursor: pointer;
}
.popular__money{
    position: absolute;
    top: -9px;
    left: -11px;
    background: var(--lime);
    color: #2D2C3A;
    font-weight: 500;
    padding: 7px 5px;
    z-index: 0;
    border-radius: 5px 5px 0 5px;
}
.popular__card-link{
    margin-top: 5px;
}
.popular__promo-site-link{
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 14px;
}