.wrapper{
    display:flex;
    row-gap: 50px;
    column-gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.title{
    font-weight: normal;
    font-size: 1.3rem;
    margin: 40px 0 10px;
}
.hr{
    height: 1px;
    background: #22222d;
    margin: 0 0 40px;
    border-bottom: 1px solid #343341;
}
@media (max-width: 540px){
    .wrapper{
        flex-direction: column; 
        padding: 0 20px;
    }
}