.inputBlock{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.formTextRight{
  width: 50%;
  padding: 40px 40px 0;
}
.input{
  background: #1f1e24;
  border: 0;
  color: #baaafd;
  padding: 10px 15px;
  outline: 0;
  border-radius: 4px;
}
.inputDesc{
  background: #1f1e24;
  border: 0;
  color: #baaafd;
  min-height: 80px;
  padding: 10px 15px;
  outline: 0;
  border-radius: 4px;
}
.input:active, .input:focus, .input:target{
  outline: 1px solid #baaafd;
}
.label{
  margin-bottom: 10px;
}
.button {
  background: linear-gradient(45deg, var(--purple) 20%, var(--blue) 100%);
  padding: 12px 45px;
  color: var(--white);
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  background-size: 150% 150%;
  cursor: pointer;
  outline: none;
}
.button:hover {
  background: linear-gradient(45deg, var(--purple) 20%, var(--blue) 100%);
  background-position: 100% 100%;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  outline: none;
}
.button:disabled {
  background: #b9b9b9;
  padding: 12px 45px;
  color: var(--white);
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  background-size: 150% 150%;
  cursor: pointer;
  outline: none;
}
.error{
  font-size: 0.8rem;
  color: #c95858;
  margin-top: 5px;
}
.inputError{
  border: 1px solid #c95858;
  outline: none;
}
.inputError:active, .inputError:focus, .inputError:target{
  outline: none;
}
@media (max-width: 850px) {
  .formTextRight {
    padding: 40px 0 0;
  }
}
@media (max-width: 650px) {
  .formTextRight{
    width: 100%;
    padding: 0;
  }
  .button{
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 494px) {
  .formTextRight{
    width: 100%;
    padding: 0;
  }
}