.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 0;
}
.menu__link {
  display: block;
  color: #e3e4f8;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem;
}
.menu__listItem {
  margin-bottom: 10px;
  cursor: pointer !important;
}
