.wrap{
    position: relative;
    width: calc(33.333% - 20px);
    min-height: 287px;
    background: var(--bgcard);
    border-radius: 13px;
    border: 2px solid #343341;
    box-sizing: border-box;
    padding: 13px;
}
.money{
    position: absolute;
    top: -9px;
    left: -11px;
    background: var(--lime);
    color: #2D2C3A;
    font-weight: 500;
    padding: 7px 5px;
    z-index: 2;
    border-radius: 5px 5px 0 5px;
    min-width: 45px;
    text-align: center;
}
.info{
    position: absolute;
    color: #5B5B67;
    right: 18px;
    top: 22px;
    cursor: help;
    z-index: 2;
}
.info:hover{
    color: #d8ff20;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    max-height: 100px;
    height: 100%;
}
.link{
    margin-top: 5px;
}
.img{
    height: 100%;
    max-width: 100%;
    border: 1px solid #31303e;
    box-sizing: border-box;
}
.title{
    padding: 0 20px 0 0;
    margin: 15px 0 20px;
    font-weight: normal;
    font-size: 1rem;
}
.promoCodeWrap{
    position: relative;
    background: #2D2C3A;
    border: 1px solid #31313D;
    margin-top: 10px;
    color: #9997b3;
    border-radius: 7px;
}
.promoCode{
    background: #2D2C3A;
    padding: 10px;
    font-size: 1.2rem;
    color: #9997b3;
    outline: none;
    border: 0;
    width: calc(100% - 43px);
}
.promoCopy{
    -webkit-font-smoothing: antialiased;
    background: var(--lime);
    -webkit-text-fill-color: #8f8e99;
    color: #2d2c3a;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    outline: none;
    border: 0;
    width: 43px;
    border-radius: 7px;
    cursor: pointer;
}
.promoSiteLink{
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 14px;
}
@media (max-width: 1199px) {
    .title{
        text-align: center;
        font-size: 1.1rem;
        padding: 0;
    }
    .title span{
        display: block;
    }
}
@media (max-width: 1030px) {
    .wrap{
        width: calc(50% - 20px);
        min-height: 287px;
        background: var(--bgcard);
        border-radius: 13px;
        border: 2px solid #343341;
        box-sizing: border-box;
        padding: 13px;
    }
}
@media (max-width: 685px){
    .promoCode{
        font-size: 1rem;
    }
}
@media (max-width: 560px){
    .promoCode{
        font-size: 0.85rem;
    }
}
@media (max-width: 540px){
    .wrap{
        width: 100%;
    }
}