.header__wrapper{
    width: 1200px;
    box-sizing: border-box;
    padding: 15px 20px;
    margin: 0 auto;
    background: var(--bgmain);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #23D1A4;
    text-decoration: none;
    font-size: 2rem;
}

.popular__card{
    position: relative;
    width: calc(33.333% - 20px);
    min-height: 287px;
    background: var(--bgcard);
    border-radius: 13px;
    border: 2px solid #343341;
    box-sizing: border-box;
    padding: 13px;
}
.popular__money{
    position: absolute;
    top: -9px;
    left: -11px;
    background: var(--lime);
    color: #2D2C3A;
    font-weight: 500;
    padding: 7px 5px;
    z-index: 0;
    border-radius: 5px 5px 0 5px;
}
.popular__info{
    position: absolute;
    color: #5B5B67;
    right: 18px;
    top: 22px;
    cursor: help;
}
.popular__cardImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.popular__cardLink{
    margin-top: 5px;
}
.popular__cardImg{
    height: 100%;
    max-width: 100%;
    border: 1px solid #31303e;
    box-sizing: border-box;
}
.popular__cardTitle{
    padding: 0 20px 0 0;
    margin: 8px 0 15px;
    font-weight: normal;
    font-size: 1.2rem;
}
.popular__promoCode{
    position: relative;
    background: #2D2C3A;
    border: 1px solid #31313D;
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
    color: #9997b3;
    border-radius: 7px;
}
.popular__promoCopy{
    -webkit-font-smoothing: antialiased;
    background: var(--lime);
    -webkit-text-fill-color: #37363e;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    outline: none;
    border: 0;
    width: 43px;
    border-radius: 10px;
    border-radius: 7px;
    cursor: pointer;
}
.popular__promoSiteLink{
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 14px;
}