.main__banner{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    padding: 25px 45px;
    background: linear-gradient(45deg, var(--purple) 20%, var(--blue) 100%);
}
.main__wrapper{
    max-width: 355px;
}
.main__title{
    color: #211F2A;
    font-size: 4.7rem;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    font-style: italic;
    text-shadow: -4px 3px 0px rgb(82 70 179 / 55%);
}
.main__secondTitle{
    color: #fff;
    font-size: 3rem;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-shadow: -4px 3px 0px rgb(82 70 179 / 55%);
}
.main__subtitle{
    font-size: 0.95rem;
    max-width: 280px;
    margin: 10px 0 0;
}
.main__bannerKerambitBg{
    width: 402px;
    height: 370px;
    background: url(/images/banner-kerambit.png) no-repeat;
    position: absolute;
    right: 70px;
    top: -36px;
}
.main__codeWrapper{
    display: flex;
}
.main__link{
    background: #1f1e24;
    border: 1px solid #31313D;
    padding: 12px 15px;
    font-size: 1.1rem;
    margin-top: 27px;
    color: #9997b3;
    border-radius: 7px;
    display: inline-block;
    text-decoration: none;
}
@media (max-width: 1199px) {
    .main__bannerKerambitBg{
        right: 20px;
    }
}
@media (max-width: 1099px) {
    .main__title{
        font-size: 3.3rem;
    }
    .main__secondTitle{
        font-size: 2rem;
    }
    .main__link{
        padding: 11px 10px;
        font-size: 1rem;
    }
    .main__bannerKerambitBg{
        right: 8px;
        background-position-x: 100%;
        background-size: 85%;
        width: 378px;
        height: 303px;
    }
    .main__banner{
        min-height: 270px;
    }
}