.main__banner {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 300px;
  border-radius: 20px;
  padding: 25px 45px;
  background: linear-gradient(45deg, var(--purple) 20%, var(--blue) 100%);
}
.main__wrapper {
  max-width: 355px;
}
.main__title {
  color: #211f2a;
  font-size: 4.7rem;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  font-style: italic;
  text-shadow: -4px 3px 0px rgb(82 70 179 / 55%);
}
.main__secondTitle {
  color: #fff;
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-shadow: -4px 3px 0px rgb(82 70 179 / 55%);
}
.main__subtitle {
  font-size: 0.95rem;
  max-width: 280px;
  margin: 10px 0 0;
}
.main__bannerImg{
  width: 402px;
  height: 370px;
  position: absolute;
  right: 70px;
  top: -36px;
}
.main__bannerKerambitBg {
  background: url(/images/banner-kerambit.png) no-repeat;
}
.main__bannerAk{
  background: url(/images/ak-banner.png) no-repeat;
  right: 40px;
}
.main__codeWrapper {
  display: flex;
}
.main__link {
  background: #1f1e24;
  border: 1px solid #31313d;
  padding: 12px 15px;
  font-size: 1.1rem;
  margin-top: 27px;
  color: #9997b3;
  border-radius: 7px;
  display: inline-block;
  text-decoration: none;
}
@media (max-width: 1199px) {
  .main__bannerImg{
    right: 20px;
  }
}
@media (max-width: 1099px) {
  .main__title {
    font-size: 3.3rem;
  }
  .main__secondTitle {
    font-size: 2rem;
  }
  .main__link {
    padding: 11px 10px;
    font-size: 1rem;
  }
  .main__bannerImg {
    right: 8px;
    background-position-x: 100%;
    background-size: 85%;
    width: 378px;
    height: 303px;
  }
  .main__banner {
    min-height: 270px;
  }
  .swiper {
    height: 304px;
  }
}
@media (max-width: 705px) {
  .main__title {
    font-size: 2.8rem;
  }
  .main__secondTitle {
    font-size: 1.6rem;
  }
  .main__link {
    padding: 10px 10px;
    margin-top: 20px;
  }
  .main__subtitle {
    font-size: 0.9rem;
    max-width: 193px;
  }
  .main__banner {
    padding: 20px 25px;
    min-height: 235px;
  }
  .swiper {
    height: 288px;
  }
}
@media (max-width: 610px) {
  .main__bannerImg {
    width: 325px;
    height: 293px;
    top: -23px;
  }
}
@media (max-width: 585px) {
  .main__bannerImg {
    width: 233px;
    height: 293px;
    top: 22px;
  }
}
@media (max-width: 495px) {
  .main__bannerImg {
    width: 180px;
    height: 161px;
    top: 23px;
  }
  .main__title {
    font-size: 2.3rem;
  }
  .main__secondTitle {
    font-size: 1.3rem;
  }
  .main__link {
    padding: 8px 10px;
    margin-top: 20px;
    font-size: 0.9rem;
  }
  .main__subtitle {
    font-size: 0.85rem;
    max-width: 180px;
  }
  .main__banner {
    padding: 14px 25px;
    min-height: 200px;
    margin-top: 0;
  }
}
@media (max-width: 405px) {
  .main__bannerImg {
    width: 149px;
    height: 130px;
  }
}
@media (max-width: 404px) {
  .main__bannerImg {
    display: none;
  }
  .main__subtitle {
    font-size: 0.85rem;
    max-width: 100%;
  }
  .main__link {
    padding: 10px 20px;
  }
  .main__wrapper {
    text-align: center;
  }
  .main__codeWrapper {
    display: flex;
    justify-content: center;
  }
}
