.bannerWrapper{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    padding: 25px 45px;
    background: linear-gradient(45deg, var(--purple) 20%, var(--blue) 100%);
    margin-top: 30px;
    margin-bottom: 40px;
}
.wrapper{
    max-width: 50%;
}
.title{
    color: #211F2A;
    font-size: 4.4rem;
    padding: 0;
    margin: 20px 0 40px;
    letter-spacing: 1px;
    font-style: italic;
    text-shadow: -4px 3px 0px rgb(82 70 179 / 55%);
    line-height: 70%;
}
.secondTitle{
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    text-shadow: -4px 3px 0px rgb(82 70 179 / 55%);
}
.bannerImg{
    width: 380px;
    height: 351px;
    background: url(/images/crash-bg.png) no-repeat;
    background-size: contain;
    position: absolute;
    right: 70px;
    top: -15px;
}