.button{
  background: linear-gradient(45deg, var(--purple) 20%, var(--blue) 100%);
  padding: 9px 15px;
  color: var(--white);
  text-decoration: none;
  border-radius: 4px;
  transition: all .4s ease-in-out;
  background-size: 150% 150%;
  cursor: pointer;
}
.button:hover{
  background: linear-gradient(45deg, var(--purple) 20%, var(--blue) 100%);
  background-position: 100% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
