.popular__title{
    font-size: 1.2rem;
    margin: 35px 0 10px;
}
.popular__hr{
    height: 1px;
    background: #464553;
    border-top: 1px solid #292836;
    margin-bottom: 25px;
}
.popular__wrapper{
    display: flex;
    row-gap: 50px;
    column-gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}