.header__wrapper {
  max-width: 1200px;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 0 auto;
  background: var(--bgmain);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: #23d1a4;
  text-decoration: none;
  font-size: 2rem;
}
.button {
  background: linear-gradient(45deg, var(--purple) 20%, var(--blue) 100%);
  padding: 9px 15px;
  color: var(--white);
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  background-size: 150% 150%;
  cursor: pointer;
}
.header__burger {
  display: none;
  width: 30px;
  height: 30px;
  color: #fff;
}
.header__topMenu {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 925px) {
  .header {
    position: fixed;
    z-index: 99999;
    width: 100%;
  }
  .header__burger {
    display: block;
  }
}
